
.aviacionciv {
    width: 200px; /* El ancho del contenedor */
    margin: 0 auto; /* Centramos el contenedor en la página */
    text-align: center; /* Centramos el texto dentro del contenedor */
    border: 1px solid #ccc; /* Para visualizar el tamaño del contenedor */
    padding: 10px; /* Espaciado interno */
}






  .box {
    width: 300px; /* Ancho de la caja */
    padding: 20px; /* Espacio interno alrededor del contenido */
    border: 2px solid #333; /* Borde de la caja */
    margin: 20px auto; /* Espacio externo: centrado horizontal */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle efecto 3D */
    text-align: center; /* Centrar el texto e imagen */
}

/* Estilo para el título */
.box h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px; /* Espacio debajo del título */
}

/* Estilo para la imagen */
.box img {
    width: 100%; /* Imagen ocupa todo el ancho de la caja */
    height: auto; /* Mantener proporción de la imagen */
    border-radius: 8px; /* Bordes redondeados en la imagen */
    margin-bottom: 15px; /* Espacio debajo de la imagen */
}

/* Estilo para el texto */
.box p {
    font-size: 1em;
    color: #666;
    line-height: 1.5; /* Mejor lectura del texto */
}






.box-2 {
    width: 300px; /* Ancho de la caja */
    padding: 20px; /* Espacio interno alrededor del contenido */
    border: 2px solid #333; /* Borde de la caja */
    margin: 20px auto; /* Espacio externo: centrado horizontal */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle efecto 3D */
    text-align: center; /* Centrar el texto e imagen */
}

/* Estilo para el título */
.box-2 h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px; /* Espacio debajo del título */
}

/* Estilo para la imagen */
.box-2 img {
    width: 100%; /* Imagen ocupa todo el ancho de la caja */
    height: auto; /* Mantener proporción de la imagen */
    border-radius: 8px; /* Bordes redondeados en la imagen */
    margin-bottom: 15px; /* Espacio debajo de la imagen */
}

/* Estilo para el texto */
.box-2 p {
    font-size: 1em;
    color: #666;
    line-height: 1.5; /* Mejor lectura del texto */
}