
body {
    font-family: 'Oswald', sans-serif;
    text-align: center

}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700; /* Usar el peso de 700 (negrita) */
    text-align: center
    

}

p {
    font-family: 'Oswald', sans-serif;
    font-weight: 400; /* Peso normal */
    text-align: center
    

}





header {
    position: relative;
    width: 100%;
}

.banner {
    background-image: url('https://www.shutterstock.com/image-photo/commercial-airplane-jetliner-flying-above-600nw-788233372.jpg'); /* Ruta de tu imagen de banner */
    background-size: cover; /* Ajusta la imagen para cubrir todo el espacio */
    background-position: center; /* Centra la imagen */
    height: 400px; /* Altura del banner */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra del texto para mejor visibilidad */
    font-size: 2rem;
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: #333; /* Color de fondo */
    padding: 10px 20px; /* Espaciado interno */
}

/* Lista de navegación */
.nav-list {
    list-style: none; /* Quita los puntos de la lista */
    display: flex; /* Alinea los elementos en línea */
    justify-content:space-around;
    margin: 0; /* Elimina margen por defecto */
    padding: 0; /* Elimina padding por defecto */
}

/* Elementos de la lista */
.nav-list li {
    
    margin: 0 60px; /* Espaciado entre los elementos */
}

/* Enlaces */
.nav-list a {
    text-decoration: none; /* Quita el subrayado */
    color: white; /* Color del texto */
    font-size: 18px; /* Tamaño de fuente */
    transition: color 0.3s ease; /* Efecto de transición al pasar el mouse */
}

/* Hover en los enlaces */
.nav-list a:hover {
    color: #ff9800; /* Cambia el color al pasar el mouse */
}



footer {
    background-color: #2c3e50; /* Color de fondo */
    color: #ecf0f1;           /* Color del texto */
    padding: 20px;           /* Espaciado interno */
    text-align: center;      /* Centrar el contenido */
    font-family: Arial, sans-serif;
}

footer ul {
    list-style: none;        /* Elimina los puntos de la lista */
    padding: 0;
    margin: 10px 0;
    display: flex;           /* Usa flexbox para alinear horizontalmente */
    justify-content: center; /* Centra los elementos */
    gap: 15px;               /* Espaciado entre elementos */
}

footer ul li {
    display: inline;         /* Asegura que los elementos estén en línea */
}

footer ul li a {
    text-decoration: none;   /* Elimina subrayado en enlaces */
    color: #ecf0f1;          /* Color de los enlaces */
    font-weight: bold;
}

footer ul li a:hover {
    color: #3498db;          /* Cambia el color al pasar el cursor */
}

article {
    text-align: initial;
}

 aside {

    text-align: initial;
    
}

